@use 'variaveis';
@use 'mixins' as *;

.sobre {
    background-color: #34679e;
    grid-column: 1/4;
    grid-row: 3/4;
    @include tamanho-padrao;
    @include alinhamento-padrao;
    &__text {
        color: variaveis.$cor-texto;
        &--h1 {
            text-decoration: variaveis.$texto-underline;
        }
    }
}